.input-alert {
  border-bottom: orangered 1px solid !important;
}

.input-alert::placeholder {
  color: orangered;
  opacity: 1;
}

#item-list {
  display: none;
}

.total-amount,
.total-currency-sign {
  color: rgb(47, 199, 47);
  font-weight: 900;
}
